llama-index-core==0.14.24
llama-index-readers-file==0.7.0
llama-index-embeddings-huggingface==0.7.0
llama-index-llms-ollama==0.10.1
llama-index-vector-stores-faiss==0.6.0
faiss-cpu==1.15.0
docx2txt==0.9
python-pptx==1.0.2
gradio==6.26.0
